@model aspnet_tutorial.Models.user

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Templates/Default/default_layout.cshtml";
}

<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Details</div>
        <div class="panel-body">
            <table>
                <tbody>
                    <tr>
                        <td>
                            Profile name :
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.profile.profile_name)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Username :
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.username)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Created at :
                        </td>

                        <td>
                            @Html.DisplayFor(model => model.created_at)
                        </td>
                    </tr>
            </table>
        </div>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_user }) |
    @Html.ActionLink("Back to List", "Index")
</p>
