@model aspnet_tutorial.Models.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Templates/Default/default_layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.unit_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.unit_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category.cat_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.cat_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.product_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
