@model IEnumerable<aspnet_tutorial.Models.category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Templates/Default/default_layout.cshtml";
}

<div class="col-lg-12">
<div class="panel panel-default">
<div class="panel-heading">Products categories</div>
<div class="panel-body">
<a href="@Url.Action("Create","Categories")" 
   class="btn btn-primary">New</a>
<table data-toggle="table" data-url=""  data-show-refresh="true" data-show-toggle="true" 
       data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true" 
       data-sort-name="name" data-sort-order="desc">
    <thead>
    <tr>
        <th data-sortable="true">ID</th>
        <th data-sortable="true">Category name</th>
        <th data-sortable="true">Option</th>
						        
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelIem => item.cat_id)</td>
            <td>
                @Html.DisplayFor(modelItem => item.cat_name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.cat_id}) |
                @Html.ActionLink("Details", "Details", new {id = item.cat_id}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.cat_id})
            </td>
        </tr>
    }
    </tbody>
    </table>
          </div>
      </div>
  </div>
