@model IEnumerable<aspnet_tutorial.Models.customer>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Templates/Default/default_layout.cshtml";
}
<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">Customers</div>
        <div class="panel-body">
            <a href="@Url.Action("Create","Customers")"
               class="btn btn-primary">New</a>
            <table data-toggle="table" data-url="" data-show-refresh="true" data-show-toggle="true"
                   data-show-columns="true" data-search="true" data-select-item-name="toolbar1" data-pagination="true"
                   data-sort-name="name" data-sort-order="desc">
                <thead>
                    <tr>
                        <th data-sortable="true">Customer id</th>
                        <th data-sortable="true">Name</th>
                        <th data-sortable="true">Tel</th>
                        <th data-sortable="true">Address</th>
                        <th data-sortable="true">Option</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.customer_id)</td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tel)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.address)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new {id = item.customer_id}) |
                                @Html.ActionLink("Details", "Details", new {id = item.customer_id}) |
                                @Html.ActionLink("Delete", "Delete", new {id = item.customer_id})
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>
